body {
    font-family: Arial, Helvetica, sans-serif;
}

.centered {
    text-align: center;
}

.justified {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: orange;
    background-color: lightgray;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

img {
    border: 10px solid black;
    padding: 5px;
    background-color: yellow;
}

body {
    background-image: url(bgforassignment4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: black;
}

a {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: yellow;
}

.highlight {
    background-color: yellow;
}

.main-footer {
    background-color: lightgray;
}

.program-overview {
    background-color: #35b5d4;
}
#break{
    color: purple;
}

